## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
bin/
obj/
publish/
artifacts/

## Rider
.idea/

## VS Code
.vscode/

## .NET
TestResults/
*.nupkg
*.snupkg

## Windows
Thumbs.db
Desktop.ini

## Logs
*.log
